@(signupForm: Form[User])

@import helper._
@import helper.twitterBootstrap._

@main("Registro", nav = "signup") {
    @helper.form(action = routes.SignUp.submit) {
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Registro</h2>
                </div>
                <div class="panel-body">
                    <fieldset>
                    @inputText(
                    signupForm("username"),
                    '_label -> "Usuario",
                    '_help -> "Por favor elige un nombre de usuario válido.",
                    '_error -> signupForm.globalError
                    )

                    @inputText(
                    signupForm("email"), '_label -> "Email",
                    '_help -> "Introduce una dirección de email válida."
                    )

                    @inputPassword(
                    signupForm("password.main"),
                    '_label -> "Contraseña",
                    '_help -> "La contraseña debe tener al menos 6 caracteres. Se guardará de forma cifrada."
                    )

                    @inputPassword(
                    signupForm("password.confirm"),
                    '_label -> "Repite la contraseña",
                    '_help -> "Por favor repite la contraseña otra vez.",
                    '_error -> signupForm.error("password")
                    )
                    </fieldset>
                    <a href="#" data-toggle="modal" data-target="#tos">Condiciones</a>
                    <fieldset>

                        @checkbox(
                        signupForm("accept"),
                        '_label -> None, '_text -> "Aceptas las condiciones de uso",
                        '_showConstraints -> false
                        )

                    </fieldset>
                    <div class="actions">
                        <input type="submit" class="btn primary" value="Registrarse">
                        <a href="@routes.Porra.index" class="btn">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="tos" tabindex="-1" role="dialog" aria-labelledby="tos" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Condiciones de uso/Normas</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <li>Se destinará a premios el 100% de la cantidad recaudada. Es una porra sin ánimo de lucro.</li>
                    <li>Podrá participar en este juego aquellas personas que se inscriba y pague la cuota de inscripción de 5€ en los plazos mencionados. Se admiten convocar a parientes/amigos con primer grado de afinidad/consanguinidad (si convocas a alguien a la porra, te conviertes en el interlocutor válido con respecto a esa persona ante el consejo de la porra).</li>
                    <li>El juego consiste en acertar los resultados de la primera fase del mundial, las selecciones clasificadas para las diferentes fases (octavos, cuartos, semifinal y final), el campeón del mundial. También se otorgarán puntos por cada gol que meta el pichichi que se escoja.</li>
                </ul>

                <br>
                <p>Se detalla a continuación el sistema de puntuación:</p>
                <ol>
                    <b>Partidos de la primera fase:</b>
            <li>Acertar el signo supone <b>1 punto</b></li>
            <li>Acertar la diferencia de goles supone <b>2 puntos</b></li>
            <li>También se puntuará según la cercanía al resultado y la dificultad del mismo</li>
			<table style="margin-top:0.5em; margin-bottom:0.5em; text-align: center;" align="center" cellpadding="0" cellspacing="0" >
					<tr>
						<td nowrap="nowrap" align="right"><i><b>Puntos por dificultad</b></i> = 2 &middot;<span style="font-size: 150%;">&radic;</span></td>
						<td style="border-top:solid 1px black;" nowrap="nowrap">&nbsp;<i>Goles<sub>local</sub></i><sup>2</sup> + <i>Goles<sub>visit</sub></i><sup>2</sup></td>
						<td nowrap="nowrap" align="left"> &nbsp; + 1</td>
					</tr>
			</table>
			<table style="margin-top:0.5em; margin-bottom:0.5em; text-align: center;" align="center" cellpadding="0" cellspacing="0" >
					<tr>
						<td nowrap="nowrap" align="right"><i><b>Cercanía</b></i> = |<i>Goles<sub>local</sub></i>-<i>Apuesta<sub>local</sub></i>| + |<i>Goles<sub>visit</sub></i>-<i>Apuesta<sub>visit</sub></i>|</td>
					</tr>
			</table>
            <li>Según la cercanía de la apuesta al resultado final, se anotarán:
                <ul>
                    <li>Si Cercanía = 0: 100% de los puntos por dificultad</li>
                    <li>Si Cercanía = 1:  25% de los puntos por dificultad</li>
                    <li>Si Cercanía = 2:  10% de los puntos por dificultad</li>
                </ul>
            </li>   
            
            <b>Clasificación de selecciones:</b>
            <li>Selecciones clasificadas para octavos de final: Se seleccionarán 16 selecciones. Se otorgarán 4 puntos por cada selección acertada.</li>
            <li>Selecciones clasificadas para cuartos de final: Se seleccionarán 8 selecciones. Se otorgarán 8 puntos por cada selección acertada.</li>
            <li>Selecciones clasificadas para las semifinales: Se seleccionarán 4 selecciones. Se otorgarán 16 puntos por cada selección acertada.</li>
            <li>Selecciones clasificadas para la final: Se seleccionarán 2 selecciones. Se otorgarán 32 puntos por cada selección acertada.</li>
            <li>Campeón: Se seleccionará 1 selección. En caso de acierto, se sumarán 64 puntos.</li>
            
            <b>Puntos por Pichichi</b>:
            <li>Se seleccionará un único jugador. Cada gol que marque este jugador (y la FIFA se lo impute a dicho jugador), otorgará 10 puntos.</li>
        </ol>

                <p>Las puntuaciones de cada partido se redondearán a dos decimales antes de sumarse al acumulado.</p>

<p>En el caso en que el número de selecciones marcadas en cada fase sea incorrecto, sólo aportarán puntuación las introducidas (si puedes meter 16 selecciones y sólo metes 14, es tu problema).</p>

<p>Ganará la porra el jugador que más puntos consiga al finalizar el mundial.</p>

<p>Premios</p>
<ul>
    <li>Mayor puntuación: 60% de la recaudación.</li>
    <li>El segundo se lleva el 25% de la recaudación.</li>
    <li>El tercer clasificado, llevará el 15% de la recaudación.</li>
    <li>El jugador que quede en último puesto, llevará un diploma acreditativo.</li>
</ul>

<p>En caso de empate en la puntuación al final del torneo, gana el que haya acertado el campeón. En el caso de que siga habiendo empate, se irían comprobando los aciertos en los demás cuadros, teniendo en cuenta el siguiente orden:</p>
<ol>
<li>Nº de goles del pichichi seleccionado (el que haya marcado mas goles, gana).</li>
<li>Número de selecciones acertadas en la final.</li>
<li>Número de selecciones acertadas en las semifinales.</li>
<li>Número de selecciones acertadas en los cuartos de final.</li>
<li>Número de selecciones acertadas en los octavos de final.</uli>
<li>Número de resultados acertados en la primera fase.</li>
<li>Número de diferencias de goles acertadas en los partidos de la primera fase.</li>
</ol>

<p>En el caso de que siguiera manteniendo el empate, se repartirá el premio entre los "empatados". Por ejemplo, si hubiera empate final entre dos jugadores por el segundo puesto, se sumará el importe del segundo y tercer premio (25% + 15%) y se dividirá entre los dos (le corresponderá el 20% a cada uno).</p>

<p>Cualquier circunstancia no cubierta en estas condiciones se someterá al escrutinio del consejo de la porra y su decisión será inapelable.</p>

<p>Antes de comenzar el primer partido se facilitará por correo electrónico (o se dejará accesible en un lugar compartido) a los participantes un fichero que contendrá los pronósticos de todos los jugadores.</p>
            </div>
        </div>
    </div>
</div>
    }
}
