@(signupForm: Form[User])

@import helper._
@import helper.twitterBootstrap._

@main("Registro", nav = "signup") {
    @helper.form(action = routes.SignUp.submit) {
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Registro</h2>
                </div>
                <div class="panel-body">
                    <fieldset>
                    @inputText(
                    signupForm("username"),
                    '_label -> "Usuario",
                    '_help -> "Por favor elige un nombre de usuario válido.",
                    '_error -> signupForm.globalError
                    )

                    @inputText(
                    signupForm("email"), '_label -> "Email",
                    '_help -> "Introduce una dirección de email válida."
                    )

                    @inputPassword(
                    signupForm("password.main"),
                    '_label -> "Contraseña",
                    '_help -> "La contraseña debe tener al menos 6 caracteres. "
                    )

                    @inputPassword(
                    signupForm("password.confirm"),
                    '_label -> "Repite la contraseña",
                    '_help -> "Por favor repite la contraseña otra vez.",
                    '_error -> signupForm.error("password")
                    )
                    </fieldset>

                    <fieldset>

                        @checkbox(
                        signupForm("aceptar"),
                        '_label -> None, '_text -> "Acepto las condiciones de uso",
                        '_showConstraints -> false
                        )

                    </fieldset>

                    <div class="actions">
                        <input type="submit" class="btn primary" value="Registrarse">
                        <a href="@routes.Porra.index" class="btn">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    }
}
