

@main("Clasificación", nav = "classification") {

<div class="jumbotron">
    <div class="container">
	<div class="col-xs-12"><center><h1>Clasificación de selecciones</h1></center></div>
	<div class="col-xs-4">
		<center>
			<img src='@routes.Assets.at("images/futbolchapas.jpg")' class="img-rounded img-responsive">
		</center>
	</div>
	<div class="col-xs-8">
		<p>Puntuación</p>
		<li>Se escogerán los equipos que van a clasificarse para cada fase, obteniendo por cada acierto:
			<ul>
				<li>octavos de final: <b>4 puntos</b></li>
				<li>cuartos de final: <b>8 puntos</b></li>
				<li>semifinales: <b>16 puntos</b></li>
				<li>final: <b>32 puntos</b></li>
				<li>campeón: <b>64 puntos</b></li>
			</ul>
		</li>
	</div>
    </div>
</div>


<div class="container">
    <h3>Octavos de final
        <span>
            <button id="1" type="button" class="btn btn-primary bet" data-toggle="tooltip" data-placement="right" title="Registra tu apuesta de clasificados para esta ronda">Registrar apuesta</button>
        </span>
    </h3>
    <div id="success-r1"></div>
    <div id="error-r1"></div>
    <div class="row" id="r1">
        <div class="col-xs-3 thumbnail"><a href="#" data-toggle="modal" data-target="#basicModal"><img id="" src="@routes.Assets.at("images/paises/unknown.png")"></a><h4><p align="center">pendiente</p></h4></div>
        <div class="col-xs-3 thumbnail"><a href="#" data-toggle="modal" data-target="#basicModal"><img id="" src="@routes.Assets.at("images/paises/unknown.png")"></a><h4><p align="center">pendiente</p></h4></div>
        <div class="col-xs-3 thumbnail"><a href="#" data-toggle="modal" data-target="#basicModal"><img id="" src="@routes.Assets.at("images/paises/unknown.png")"></a><h4><p align="center">pendiente</p></h4></div>
        <div class="col-xs-3 thumbnail"><a href="#" data-toggle="modal" data-target="#basicModal"><img id="" src="@routes.Assets.at("images/paises/unknown.png")"></a><h4><p align="center">pendiente</p></h4></div>
        <div class="col-xs-3 thumbnail"><a href="#" data-toggle="modal" data-target="#basicModal"><img id="" src="@routes.Assets.at("images/paises/unknown.png")"></a><h4><p align="center">pendiente</p></h4></div>
        <div class="col-xs-3 thumbnail"><a href="#" data-toggle="modal" data-target="#basicModal"><img id="" src="@routes.Assets.at("images/paises/unknown.png")"></a><h4><p align="center">pendiente</p></h4></div>
        <div class="col-xs-3 thumbnail"><a href="#" data-toggle="modal" data-target="#basicModal"><img id="" src="@routes.Assets.at("images/paises/unknown.png")"></a><h4><p align="center">pendiente</p></h4></div>
        <div class="col-xs-3 thumbnail"><a href="#" data-toggle="modal" data-target="#basicModal"><img id="" src="@routes.Assets.at("images/paises/unknown.png")"></a><h4><p align="center">pendiente</p></h4></div>
        <div class="col-xs-3 thumbnail"><a href="#" data-toggle="modal" data-target="#basicModal"><img id="" src="@routes.Assets.at("images/paises/unknown.png")"></a><h4><p align="center">pendiente</p></h4></div>
        <div class="col-xs-3 thumbnail"><a href="#" data-toggle="modal" data-target="#basicModal"><img id="" src="@routes.Assets.at("images/paises/unknown.png")"></a><h4><p align="center">pendiente</p></h4></div>
        <div class="col-xs-3 thumbnail"><a href="#" data-toggle="modal" data-target="#basicModal"><img id="" src="@routes.Assets.at("images/paises/unknown.png")"></a><h4><p align="center">pendiente</p></h4></div>
        <div class="col-xs-3 thumbnail"><a href="#" data-toggle="modal" data-target="#basicModal"><img id="" src="@routes.Assets.at("images/paises/unknown.png")"></a><h4><p align="center">pendiente</p></h4></div>
        <div class="col-xs-3 thumbnail"><a href="#" data-toggle="modal" data-target="#basicModal"><img id="" src="@routes.Assets.at("images/paises/unknown.png")"></a><h4><p align="center">pendiente</p></h4></div>
        <div class="col-xs-3 thumbnail"><a href="#" data-toggle="modal" data-target="#basicModal"><img id="" src="@routes.Assets.at("images/paises/unknown.png")"></a><h4><p align="center">pendiente</p></h4></div>
        <div class="col-xs-3 thumbnail"><a href="#" data-toggle="modal" data-target="#basicModal"><img id="" src="@routes.Assets.at("images/paises/unknown.png")"></a><h4><p align="center">pendiente</p></h4></div>
        <div class="col-xs-3 thumbnail"><a href="#" data-toggle="modal" data-target="#basicModal"><img id="" src="@routes.Assets.at("images/paises/unknown.png")"></a><h4><p align="center">pendiente</p></h4></div>
    </div>

    <h3>Cuartos de final
        <span>
            <button id="2" type="button" class="btn btn-primary bet" data-toggle="tooltip" data-placement="right" title="Registra tu apuesta de clasificados para esta ronda">Registrar apuesta</button>
        </span>
    </h3>
    <div id="success-r2"></div>
    <div id="error-r2"></div>
    <div class="row" id="r2">
        <div class="col-xs-3 thumbnail"><a href="#" data-toggle="modal" data-target="#basicModal"><img id="" src="@routes.Assets.at("images/paises/unknown.png")"></a><h4><p align="center">pendiente</p></h4></div>
        <div class="col-xs-3 thumbnail"><a href="#" data-toggle="modal" data-target="#basicModal"><img id="" src="@routes.Assets.at("images/paises/unknown.png")"></a><h4><p align="center">pendiente</p></h4></div>
        <div class="col-xs-3 thumbnail"><a href="#" data-toggle="modal" data-target="#basicModal"><img id="" src="@routes.Assets.at("images/paises/unknown.png")"></a><h4><p align="center">pendiente</p></h4></div>
        <div class="col-xs-3 thumbnail"><a href="#" data-toggle="modal" data-target="#basicModal"><img id="" src="@routes.Assets.at("images/paises/unknown.png")"></a><h4><p align="center">pendiente</p></h4></div>
        <div class="col-xs-3 thumbnail"><a href="#" data-toggle="modal" data-target="#basicModal"><img id="" src="@routes.Assets.at("images/paises/unknown.png")"></a><h4><p align="center">pendiente</p></h4></div>
        <div class="col-xs-3 thumbnail"><a href="#" data-toggle="modal" data-target="#basicModal"><img id="" src="@routes.Assets.at("images/paises/unknown.png")"></a><h4><p align="center">pendiente</p></h4></div>
        <div class="col-xs-3 thumbnail"><a href="#" data-toggle="modal" data-target="#basicModal"><img id="" src="@routes.Assets.at("images/paises/unknown.png")"></a><h4><p align="center">pendiente</p></h4></div>
        <div class="col-xs-3 thumbnail"><a href="#" data-toggle="modal" data-target="#basicModal"><img id="" src="@routes.Assets.at("images/paises/unknown.png")"></a><h4><p align="center">pendiente</p></h4></div>
    </div>

    <h3>Semifinales
        <span>
            <button id="3" type="button" class="btn btn-primary bet" data-toggle="tooltip" data-placement="right" title="Registra tu apuesta de clasificados para esta ronda">Registrar apuesta</button>
        </span>
    </h3></h3>
    <div id="success-r3"></div>
    <div id="error-r3"></div>
    <div class="row" id="r3">
        <div class="col-xs-3 thumbnail"><a href="#" data-toggle="modal" data-target="#basicModal"><img id="" src="@routes.Assets.at("images/paises/unknown.png")"></a><h4><p align="center">pendiente</p></h4></div>
        <div class="col-xs-3 thumbnail"><a href="#" data-toggle="modal" data-target="#basicModal"><img id="" src="@routes.Assets.at("images/paises/unknown.png")"></a><h4><p align="center">pendiente</p></h4></div>
        <div class="col-xs-3 thumbnail"><a href="#" data-toggle="modal" data-target="#basicModal"><img id="" src="@routes.Assets.at("images/paises/unknown.png")"></a><h4><p align="center">pendiente</p></h4></div>
        <div class="col-xs-3 thumbnail"><a href="#" data-toggle="modal" data-target="#basicModal"><img id="" src="@routes.Assets.at("images/paises/unknown.png")"></a><h4><p align="center">pendiente</p></h4></div>
    </div>

    <h3>Final
        <span>
            <button id="4" type="button" class="btn btn-primary  bet" data-toggle="tooltip" data-placement="right" title="Registra tu apuesta de clasificados para esta ronda">Registrar apuesta</button>
        </span>
    </h3></h3>
    <div id="success-r4"></div>
    <div id="error-r4"></div>
    <div class="row" id="r4">
        <div class="col-xs-6 thumbnail"><a href="#" data-toggle="modal" data-target="#basicModal"><img id="" src="@routes.Assets.at("images/paises/unknown.png")"></a><h4><p align="center">pendiente</p></h4></div>
        <div class="col-xs-6 thumbnail"><a href="#" data-toggle="modal" data-target="#basicModal"><img id="" src="@routes.Assets.at("images/paises/unknown.png")"></a><h4><p align="center">pendiente</p></h4></div>
    </div>

    <h3>Campeón
        <span>
            <button id="5" type="button" class="btn btn-primary bet" data-toggle="tooltip" data-placement="right" title="Registra tu apuesta de clasificados para esta ronda">Registrar apuesta</button>
        </span>
    </h3></h3>
    <div id="success-r5"></div>
    <div id="error-r5"></div>
    <div class="row" id="r5">
        <div class="col-xs-12 thumbnail"><a href="#" data-toggle="modal" data-target="#basicModal"><img id="" src="@routes.Assets.at("images/paises/unknown.png")"></a><h4><p align="center">pendiente</p></h4></div>
    </div>

    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Elige pais</h4>
                </div>
                <div class="modal-body">
                    <div class="row" id="mydiv">
                        <div class="col-xs-3 col-sm-2 thumbnail"><a href="#" data-dismiss="modal"><img id=1 src="@routes.Assets.at("images/paises/1.png")"></a><h5><p align="center">Alemania</p></h5></div>
                        <div class="col-xs-3 col-sm-2 thumbnail"><a href="#" data-dismiss="modal"><img id=2 src="@routes.Assets.at("images/paises/2.png")"></a><h5><p align="center">Argelia</p></h5></div>
                        <div class="col-xs-3 col-sm-2 thumbnail"><a href="#" data-dismiss="modal"><img id=3 src="@routes.Assets.at("images/paises/3.png")"></a><h5><p align="center">Argentina</p></h5></div>
                        <div class="col-xs-3 col-sm-2 thumbnail"><a href="#" data-dismiss="modal"><img id=4 src="@routes.Assets.at("images/paises/4.png")"></a><h5><p align="center">Australia</p></h5></div>
                        <div class="col-xs-3 col-sm-2 thumbnail"><a href="#" data-dismiss="modal"><img id=5 src="@routes.Assets.at("images/paises/5.png")"></a><h5><p align="center">Bélgica</p></h5></div>
                        <div class="col-xs-3 col-sm-2 thumbnail"><a href="#" data-dismiss="modal"><img id=6 src="@routes.Assets.at("images/paises/6.png")"></a><h5><p align="center">Bosnia</p></h5></div>
                        <div class="col-xs-3 col-sm-2 thumbnail"><a href="#" data-dismiss="modal"><img id=7 src="@routes.Assets.at("images/paises/7.png")"></a><h5><p align="center">Brasil</p></h5></div>
                        <div class="col-xs-3 col-sm-2 thumbnail"><a href="#" data-dismiss="modal"><img id=8 src="@routes.Assets.at("images/paises/8.png")"></a><h5><p align="center">Camerún</p></h5></div>
                        <div class="col-xs-3 col-sm-2 thumbnail"><a href="#" data-dismiss="modal"><img id=9 src="@routes.Assets.at("images/paises/9.png")"></a><h5><p align="center">Chile</p></h5></div>
                        <div class="col-xs-3 col-sm-2 thumbnail"><a href="#" data-dismiss="modal"><img id=10 src="@routes.Assets.at("images/paises/10.png")"></a><h5><p align="center">Colombia</p></h5></div>
                        <div class="col-xs-3 col-sm-2 thumbnail"><a href="#" data-dismiss="modal"><img id=11 src="@routes.Assets.at("images/paises/11.png")"></a><h5><p align="center">Corea.Sur</p></h5></div>
                        <div class="col-xs-3 col-sm-2 thumbnail"><a href="#" data-dismiss="modal"><img id=12 src="@routes.Assets.at("images/paises/12.png")"></a><h5><p align="center">Costa.Marfil</p></h5></div>
                        <div class="col-xs-3 col-sm-2 thumbnail"><a href="#" data-dismiss="modal"><img id=13 src="@routes.Assets.at("images/paises/13.png")"></a><h5><p align="center">Costa.Rica</p></h5></div>
                        <div class="col-xs-3 col-sm-2 thumbnail"><a href="#" data-dismiss="modal"><img id=14 src="@routes.Assets.at("images/paises/14.png")"></a><h5><p align="center">Croacia</p></h5></div>
                        <div class="col-xs-3 col-sm-2 thumbnail"><a href="#" data-dismiss="modal"><img id=15 src="@routes.Assets.at("images/paises/15.png")"></a><h5><p align="center">Ecuador</p></h5></div>
                        <div class="col-xs-3 col-sm-2 thumbnail"><a href="#" data-dismiss="modal"><img id=16 src="@routes.Assets.at("images/paises/16.png")"></a><h5><p align="center">España</p></h5></div>
                        <div class="col-xs-3 col-sm-2 thumbnail"><a href="#" data-dismiss="modal"><img id=17 src="@routes.Assets.at("images/paises/17.png")"></a><h5><p align="center">EE.UU.</p></h5></div>
                        <div class="col-xs-3 col-sm-2 thumbnail"><a href="#" data-dismiss="modal"><img id=18 src="@routes.Assets.at("images/paises/18.png")"></a><h5><p align="center">Francia</p></h5></div>
                        <div class="col-xs-3 col-sm-2 thumbnail"><a href="#" data-dismiss="modal"><img id=19 src="@routes.Assets.at("images/paises/19.png")"></a><h5><p align="center">Ghana</p></h5></div>
                        <div class="col-xs-3 col-sm-2 thumbnail"><a href="#" data-dismiss="modal"><img id=20 src="@routes.Assets.at("images/paises/20.png")"></a><h5><p align="center">Grecia</p></h5></div>
                        <div class="col-xs-3 col-sm-2 thumbnail"><a href="#" data-dismiss="modal"><img id=21 src="@routes.Assets.at("images/paises/21.png")"></a><h5><p align="center">Honduras</p></h5></div>
                        <div class="col-xs-3 col-sm-2 thumbnail"><a href="#" data-dismiss="modal"><img id=22 src="@routes.Assets.at("images/paises/22.png")"></a><h5><p align="center">Inglaterra</p></h5></div>
                        <div class="col-xs-3 col-sm-2 thumbnail"><a href="#" data-dismiss="modal"><img id=23 src="@routes.Assets.at("images/paises/23.png")"></a><h5><p align="center">Irán</p></h5></div>
                        <div class="col-xs-3 col-sm-2 thumbnail"><a href="#" data-dismiss="modal"><img id=24 src="@routes.Assets.at("images/paises/24.png")"></a><h5><p align="center">Italia</p></h5></div>
                        <div class="col-xs-3 col-sm-2 thumbnail"><a href="#" data-dismiss="modal"><img id=25 src="@routes.Assets.at("images/paises/25.png")"></a><h5><p align="center">Japón</p></h5></div>
                        <div class="col-xs-3 col-sm-2 thumbnail"><a href="#" data-dismiss="modal"><img id=26 src="@routes.Assets.at("images/paises/26.png")"></a><h5><p align="center">México</p></h5></div>
                        <div class="col-xs-3 col-sm-2 thumbnail"><a href="#" data-dismiss="modal"><img id=27 src="@routes.Assets.at("images/paises/27.png")"></a><h5><p align="center">Nigeria</p></h5></div>
                        <div class="col-xs-3 col-sm-2 thumbnail"><a href="#" data-dismiss="modal"><img id=28 src="@routes.Assets.at("images/paises/28.png")"></a><h5><p align="center">Holanda</p></h5></div>
                        <div class="col-xs-3 col-sm-2 thumbnail"><a href="#" data-dismiss="modal"><img id=29 src="@routes.Assets.at("images/paises/29.png")"></a><h5><p align="center">Portugal</p></h5></div>
                        <div class="col-xs-3 col-sm-2 thumbnail"><a href="#" data-dismiss="modal"><img id=30 src="@routes.Assets.at("images/paises/30.png")"></a><h5><p align="center">Rusia</p></h5></div>
                        <div class="col-xs-3 col-sm-2 thumbnail"><a href="#" data-dismiss="modal"><img id=31 src="@routes.Assets.at("images/paises/31.png")"></a><h5><p align="center">Suiza</p></h5></div>
                        <div class="col-xs-3 col-sm-2 thumbnail"><a href="#" data-dismiss="modal"><img id=32 src="@routes.Assets.at("images/paises/32.png")"></a><h5><p align="center">Uruguay</p></h5></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Close the container that is opened up in header.html -->
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>
	$(document).ready(function() {

	    $.getJSON("@routes.Classifications.json", function(data){
            var count = 0;
            var previous = 1;
            $.each( data, function( key, val ) {
                if (val.round != previous) {
                    previous = val.round;
                    count = 0;
                }
                $("#r" + val.round).children().eq(count).find("img").attr("id", val.team);
                $("#r" + val.round).children().eq(count).find("img").attr("src", "@routes.Assets.at("images/paises/")" + val.team + ".png");
                $("#r" + val.round).children().eq(count).find("h4 p").html(val.teamName);
                count++;
            });
        });

	    // Activar tooltips
	    $("[data-toggle=tooltip]").tooltip();

		var global_reference= null;

		$('#basicModal').on('shown.bs.modal', function (e) {
			// Referencia al objeto que ha causado un click al abrir (una imagen)
			global_reference= $(e.relatedTarget);

			// Se asciende hasta el 'row' correspondiente para ver las 'id' de las imágenes que ya están seleccionadas
			var row_object= global_reference.parent().parent();
			var children= row_object.children();

			// Reestablece los eventos de click para las imágenes modales (por si fueron anulados previamente)
			$('img','#mydiv').parent().unbind('click', false);

			// Reestablece el color de la imagen (simular un 'enabled' de todas las imágenes)
			$('img','#mydiv').css({ opacity: 1.0 });

			// Reestablece el color de la etiqueta (simular un 'enabled' de todas las imágenes)
			$('img','#mydiv').each(function() {
				$(this).parent().parent().children()[1].style.color= "black";
			});

			for (var i=0; i<children.length; i++) {
				// Si se encuentra un bandera ya cargada...
				if(children[i].children[0].children[0].id != 0) {
					// Se anula la posibilidad de seleccionarla en la ventana modal, deshabilitando el evento de click para esta imagen
					$('#'+children[i].children[0].children[0].id, '#basicModal').parent().bind('click', false);

					// Realiza un gray-out (simular un 'disabled' de la imagen)
					$('#'+children[i].children[0].children[0].id, '#basicModal').css({ opacity: 0.25 });

					// Gray-out de la etiqueta
					$('#'+children[i].children[0].children[0].id, '#basicModal').parent().parent().children()[1].style.color= "lightgray";
				}
			}
		})

		$('img','#mydiv').on('click', function () {
			var img_element= global_reference.children()[0];

			// HACK: Si la imagen está 'gray-out' no permitimos escogerla
			if ($(this).css('opacity')>0.9) {
				img_element.id= $(this).attr('id');
				img_element.src= $(this).attr('src');

				/*/ Scala router
				$.ajax(jsRoutes.controllers.Classification.bet(1,img_element.id))
				.done(function() {
                    alert("apuesta realizada");
				})
                .fail(function(jqXHR, textStatus, errorThrown) {

                    console.log(jqXHR);
                    console.log(textStatus);
                    console.log(errorThrown);
                    alert(errorThrown);
                });*/

			// Cambio del texto
			global_reference.parent().children()[1].children[0].innerHTML= $(this).parent().parent().children()[1].children[0].innerHTML;			}
		})

		$(".bet").click(function( event ) {
            bet(this.id);
        });
	});

	bootstrap_alert = function() {}
    bootstrap_alert.success = function(message, round) {
        $("#success-r" + round).html('<div id="success" class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>'+message+'</div>')
    }
    bootstrap_alert.error = function(message, round) {
        $("#error-r" +round).append('<div id="error" class="alert alert-danger alert-dismissable hide"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>'+message+'</div>')
    }

    function bet(round) {
        event.preventDefault();

        $.ajax(jsRoutes.controllers.Classifications.delete(round))
            .done(function() {
                $("#r" + round).find("img").each(function() {
                    var team = $(this).attr("id");
                     $.ajax(jsRoutes.controllers.Classifications.bet(round,team))
                    .done(function() {
                        bootstrap_alert.success("Apuesta registrada", round);
                    })
                    .fail(function(jqXHR, textStatus, errorThrown) {
                        bootstrap_alert.error("Ocurrió un error al registrar la apuesta, inténtalo de nuevo", round);
                        console.log(jqXHR);
                        console.log(textStatus);
                        console.log(errorThrown);
                        //alert(errorThrown);
                    });
                });
            })
            .fail(function(jqXHR, textStatus, errorThrown) {
                bootstrap_alert.error("Ocurrió un error al registrar la apuesta, inténtalo de nuevo", round);
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);
                //alert(errorThrown);
            });
    }


	</script>

}
