@(matches: Seq[Match], user: User)

@main("Partidos", nav = "matches") {

<div class="jumbotron">
    <div class="container">
        <div class="col-xs-12"><center><h1>Partidos de la 1ª Fase</h1></center></div>
        <div class="col-xs-4">
            <center>
                <img src='@routes.Assets.at("images/campobalon.jpg")' class="img-rounded img-responsive">
            </center>
        </div>
        <div class="col-xs-8">
        <p>Puntuación</p>
            <li>Se indicará el resultado de cada uno de los partidos de la 1ª fase</li>
            <li>Acertar el signo supone <b>1 punto</b></li>
            <li>Acertar la diferencia de goles supone <b>2 puntos</b></li>
            <li>También se puntuará según la cercanía al resultado y la dificultad del mismo</li>
			<table style="margin-top:0.5em; margin-bottom:0.5em; text-align: center;" align="center" cellpadding="0" cellspacing="0" >
					<tr>
						<td nowrap="nowrap" align="right"><i><b>Puntos por dificultad</b></i> = 2 &middot;<span style="font-size: 150%;">&radic;</span></td>
						<td style="border-top:solid 1px black;" nowrap="nowrap">&nbsp;<i>Goles<sub>local</sub></i><sup>2</sup> + <i>Goles<sub>visit</sub></i><sup>2</sup></td>
						<td nowrap="nowrap" align="left"> &nbsp; + 1</td>
					</tr>
			</table>
			<table style="margin-top:0.5em; margin-bottom:0.5em; text-align: center;" align="center" cellpadding="0" cellspacing="0" >
					<tr>
						<td nowrap="nowrap" align="right"><i><b>Cercanía</b></i> = |<i>Goles<sub>local</sub></i>-<i>Apuesta<sub>local</sub></i>| + |<i>Goles<sub>visit</sub></i>-<i>Apuesta<sub>visit</sub></i>|</td>
					</tr>
			</table>
            <li>Según la cercanía de la apuesta al resultado final, se anotarán:
                <ul>
                    <li>Si Cercanía = 0: 100% de los puntos por dificultad</li>
                    <li>Si Cercanía = 1:  25% de los puntos por dificultad</li>
                    <li>Si Cercanía = 2:  10% de los puntos por dificultad</li>
                </ul>
            </li>
			<a href="#" data-toggle="modal" data-target="#basicExamples">Ejemplos</a>
        </div>
    </div>

    <div class="modal fade" id="basicExamples" tabindex="-1" role="dialog" aria-labelledby="basicExamples" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Ejemplos</h4>
                </div>
                <div class="modal-body">
                    <h5>Partido Brasil-Croacia termina con un 4-1 y habíamos apostado por un 3-0</h5>
                    <ul>
                        <li>Signo acertado: <b>1 punto</b></li>
                        <li>Diferencia de goles acertada: <b>2 puntos</b></li>
                        <li>Cercanía al resultado= |4-3|+|1-0|= 1+1= 2 &rarr; 10% de los puntos por dificultad</li>
                        <table style="margin-top:0.5em; margin-bottom:0.5em; text-align: center;" align="center" cellpadding="0" cellspacing="0" >
                            <tr>
                                <td nowrap="nowrap" align="right"><i><b>Puntos por dificultad</b></i> = 2 &middot;<span style="font-size: 150%;">&radic;</span></td>
                                <td style="border-top:solid 1px black;" nowrap="nowrap">&nbsp;<i>4</i><sup>2</sup> + <i>1</i><sup>2</sup></td>
                                <td nowrap="nowrap" align="left"> &nbsp; + 1</td>
                                <td nowrap="nowrap" align="left"> &nbsp; = 9,2</td>
                            </tr>
                        </table>
                        <li>Puntuación= 1 + 2 + 10%&middot;9,2= <b>3,92</b> </li>
                    </ul>
                    <br>
                    <h5>Partido México-Camerún termina con un 1-1 y habíamos apostado por un 1-2</h5>
                    <ul>
                        <li>Signo acertado: <b>0 puntos</b></li>
                        <li>Diferencia de goles acertada: <b>0 puntos</b></li>
                        <li>Cercanía al resultado= |1-1|+|1-2|= 0+1= 1 &rarr; 25% de los puntos por dificultad</li>
                        <table style="margin-top:0.5em; margin-bottom:0.5em; text-align: center;" align="center" cellpadding="0" cellspacing="0" >
                            <tr>
                                <td nowrap="nowrap" align="right"><i><b>Puntos por dificultad</b></i> = 2 &middot;<span style="font-size: 150%;">&radic;</span></td>
                                <td style="border-top:solid 1px black;" nowrap="nowrap">&nbsp;<i>1</i><sup>2</sup> + <i>1</i><sup>2</sup></td>
                                <td nowrap="nowrap" align="left"> &nbsp; + 1</td>
                                <td nowrap="nowrap" align="left"> &nbsp; = 3,8</td>
                            </tr>
                        </table>
                        <li>Puntuación= 0 + 0 + 25%&middot;3,8 = <b>0,96</b> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@matches.map {m =>

<div class="container-fluid">
    <div class="col-xs-3 col-md-offset-2">
        <div class="well">
            <img src='@routes.Assets.at("images/paises/" + m.idTeam1 + ".png")' class="img-responsive img-rounded center-block">
            <h3 class="text-center"><p>@Team.findById(m.idTeam1).get.name</p></h3>
        </div>
    </div>
    <div class="col-xs-2 well">
        <div class="container-fluid">
            <div class="row">
                <h4 class="text-center"><p>@m.date</p></h4>
            </div>
            <div class="row">
                <div class="col-xs-6"><p><input type="number" value=@User.getMatchBetTeam1(user.email, m.idTeam1, m.idTeam2) min=0 step=1 max=20 data-bind="value:replyNumber" id="g1@m.idTeam1" maxlength="2" size="2"></p></div>
                <div class="col-xs-6"><p><input type="number" value=@User.getMatchBetTeam2(user.email, m.idTeam1, m.idTeam2) min=0 step=1 max=20 data-bind="value:replyNumber" id="g2@m.idTeam2" maxlength="2" size="2"></p></div>
            </div>
        </div>
        <div class="container-fluid">
            <div id="success@m.idTeam1@m.idTeam2"></div>
            <div id="error@m.idTeam1@m.idTeam2"></div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <button id="1" onclick="event.preventDefault(); bet(@m.idTeam1, @m.idTeam2);" type="button" class="btn btn-primary bet btn-block" data-toggle="tooltip" data-placement="right" title="">Registrar apuesta</button>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="well">
            <img src='@routes.Assets.at("images/paises/" + m.idTeam2 + ".png")' class="img-responsive img-rounded center-block">
            <h3 class="text-center"><p>@Team.findById(m.idTeam2).get.name</p></h3>
        </div>
    </div>
</div>
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('input').keypress(function(e) {
             var key_codes = [48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 0, 8];

             if (!($.inArray(e.which, key_codes) >= 0)) {
               e.preventDefault();
             }
        });

        $("input").blur(function(){
            if($(this).val() > parseInt($(this).attr('max'))){
                $(this).select();
            }
            else {
                $(this).val(parseInt($(this).val()));
            }
        });
    });

    bootstrap_alert = function() {}
    bootstrap_alert.success = function(message, id1, id2) {
        $("#success" + id1 + "" + id2).html('<div id="success" class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>'+message+'</div>')
    }
    bootstrap_alert.error = function(message, id1, id2) {
        $("#error" + id1 + "" + id2).html('<div id="error" class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>'+message+'</div>')
    }

function bet(idTeam1, idTeam2) {
    event.preventDefault();

    var g1 = $("#g1" + idTeam1).val();
    var g2 = $("#g2" + idTeam2).val();
    $.ajax(jsRoutes.controllers.Matches.bet(idTeam1, idTeam2, g1, g2))
    .done(function() {
        bootstrap_alert.success("Apuesta registrada", idTeam1, idTeam2);
    })
    .fail(function(jqXHR, textStatus, errorThrown) {
        bootstrap_alert.error("Error", idTeam1, idTeam2);
        console.log(jqXHR);
        console.log(textStatus);
        console.log(errorThrown);
    });

}

</script>
}
