@main("Partidos", nav = "matches") {

<div class="container">
    <br>
    <form role="form">
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-2 thumbnail vcenter">
                <img src="@routes.Assets.at("images/paises/7.png")" class="img-responsive">
                <h1><p align="center">Brasil</p></h1>
            </div>
            <div class="col-xs-2 thumbnail vcenter"><p align="center"><input type="number" value=0 min=0 step=1 max=20 data-bind="value:replyNumber" id="goles1" maxlength="2" size="2"></p></div>
            <div class="col-xs-2 thumbnail vcenter"><p align="center"><input type="number" value=0 min=0 step=1 max=20 data-bind="value:replyNumber" id="goles2" maxlength="2" size="2"></p></div>
            <div class="col-xs-2 thumbnail vcenter">
                <img src="@routes.Assets.at("images/paises/17.png")" class="img-responsive">
                <h1><p align="center">USA</p></h1>
            </div>
            <div class="col-xs-1"></div>
        </div>

        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-2 thumbnail vcenter">
                <img src="@routes.Assets.at("images/paises/1.png")" class="img-responsive">
                <h1><p align="center">Alemania</p></h1>
            </div>
            <div class="col-xs-2 thumbnail vcenter"><p align="center"><input type="number" value=0 min=0 step=1 max=20 data-bind="value:replyNumber" id="goles1" maxlength=2 size=2></p></div>
            <div class="col-xs-2 thumbnail vcenter"><p align="center"><input type="number" value=0 min=0 step=1 max=20 data-bind="value:replyNumber" id="goles2" maxlength=2 size=2></p></div>
            <div class="col-xs-2 thumbnail vcenter">
                <img src="@routes.Assets.at("images/paises/24.png")" class="img-responsive">
                <h1><p align="center">Italia</p></h1>
            </div>
            <div class="col-xs-1"></div>
        </div>

        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-2 thumbnail vcenter">
                <img src="@routes.Assets.at("images/paises/8.png")" class="img-responsive">
                <h1><p align="center">Ghana</p></h1>
            </div>
            <div class="col-xs-2 thumbnail vcenter"><p align="center"><input type="number" value=0 min=0 step=1 max=20 data-bind="value:replyNumber" id="goles1" maxlength="2" size="2"></p></div>
            <div class="col-xs-2 thumbnail vcenter"><p align="center"><input type="number" value=0 min=0 step=1 max=20 data-bind="value:replyNumber" id="goles2" maxlength="2" size="2"></p></div>
            <div class="col-xs-2 thumbnail vcenter">
                <img src="@routes.Assets.at("images/paises/26.png")" class="img-responsive">
                <h1><p align="center">Rumania</p></h1>
            </div>
            <div class="col-xs-1"></div>
        </div>

    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>
		$(document).ready(function() {
			$('input') .keypress(function(e) {
                 var key_codes = [48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 0, 8];

                 if (!($.inArray(e.which, key_codes) >= 0)) {
                   e.preventDefault();
                 }
			});

			$("input").blur(function(){
				if($(this).val() > parseInt($(this).attr('max'))){
					$(this).select();
				}
				else {
					$(this).val(parseInt($(this).val()));
				}
			});

		});
	</script>
}